{% load static%}
<h1>test</h1>

<form method ='POST' action="/perregion" > 
    {% csrf_token %} 
    <label> Select region </label>  
    <select name="added">  
    <option value = "Nyanza"> Nyanza  
    </option>  
    <option value = "North Eastern"> North Eastern   
    </option>  
    <option value = "Eastern"> Eastern  
    </option>  
    <option value = "Coast"> Coast  
    </option>  
    <option value = "Western"> Western 
    </option>  
    <option value = "Rift Valley"> Rift Valley  
    </option>  
    <option value = "Nairobi"> Nairobi  
    </option>  
    <option value = "Central"> Central  
    </option>  
    
    </select> 
    <input type="submit"value ="submit"> 
    </form>  